.cards {
  position: relative;
}
.card {
  z-index: 1;
  position: absolute;
  border-radius: 10px;
  transition: all .3s ease-out;
  overflow: hidden;
  transform: translateX(0px) translateY(0px) perspective(905px) rotateX(0deg) rotateY(0deg) rotateZ(-4deg);
}

.card:hover {
  z-index: 4;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) !important;
  transition: all .3s ease-out;
}